body{text-align: center;
    font-size: 20px;
    color: rgb(0, 255, 76);
    background-image: url(./asseets/PIC1.jpg);
    background-repeat: no-repeat;
    height: 600px;
}

p {
    font-size: 18px;}

    
p {
    font-size: 20px;
    color: rgb(252, 252, 252);

}
a{font-size: 20px;
    color: rgb(0, 255, 76);
}
.submit{
    color: yellow;
    background-color: black;
}

h4{

    text-align: center;
    font-size: 30PX;
}
.head-content img
{
 border-radius: 50%;
 
 margin-top: 20px;

 margin-left: 20px;
 opacity: 50%;
 position:fixed;

}


.navbar
{
    text-align: center;
padding: 10px;
}
.navbar a {
    text-decoration: none;
color: rgba(255, 255, 255, 0.959);
font-size: 20px;
font-family:  sans-serif;
margin: 40px;
border: 2px solid transparent;
padding: 5px;
transition: 0.5s;

}


.navbar
{
    box-sizing: border-box;
    background-color: rgb(19, 19, 20);
    height: 50px;
    
}

body, html {
    background-color: #000;
    color: rgb(230, 189, 189);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position:absolute;
    top:0;
    left:0
}
#mylist{
    z-index: -1;
    width: 20%;
}